section#player {
  position: fixed;
  top: calc(100% - #{$player-height});
  width: 100%;
  height: 75%;
  @media screen and (min-width: 768px) {
    height: 50%;
  }
  left: 0;
  right: 0;
  padding: 0;
  background: var(--bg);
  transition: all 1s ease-in-out;
  //safari flickering
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  &.open {
    box-shadow: 0 0 300px var(--light);
    top: 25%;
    @media screen and (min-width: 768px) {
      top: 50%;
    }
  }
  #progressBar {
    position: absolute;
    top: -4px;
    left: 0;
    height: 4px;
    width: 0%;
    background: var(--primary);
  }
  .player-top {
    cursor: pointer;
    position: sticky;
    top: 0;
    height: $player-height + 1;
    display: flex;
    align-items: center;
    padding: 0 $gutter 2px;
    border-top: solid 1px var(--line);
    border-bottom: solid 1px var(--line);
    background: var(--bg);
    overflow: visible;
    #playpause {
      font-size: 0;
      border: 0;
      height: 30px;
      width: 26px;
      border-radius: 0;
      margin-bottom: 0.2rem;
      &.play {
        background: url("/icons/play.svg") no-repeat;
      }
      &.pause {
        background: url("/icons/pause.svg") no-repeat;
      }
      &:focus {
        outline: 0;
      }
    }
    .song {
      height: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 0.15rem;
      cursor: cell;
      .song-title {
        font-weight: 800;
        margin-left: 0.5rem;
      }
      .band-name {
        margin-left: 0.5rem;
        color: var(--line);
        letter-spacing: 0.05ch;
      }
    }
    .song-wave {
      flex: 1;
      height: 100%;
      canvas {
        padding: 0 20px;
      }
    }
    #prev {
      background: url("/icons/prev.svg") no-repeat;
      font-size: 0;
      border: 0;
      border-radius: 0;
      width: 24px;
      height: 24px;
      margin: 0 0.4rem 0.125rem 0;
      &:focus {
        outline: 0;
      }
    }
    #next {
      background: url("/icons/next.svg") no-repeat;
      font-size: 0;
      border: 0;
      border-radius: 0;
      width: 24px;
      height: 24px;
      margin: 0 0 0.125rem 0;
      &:focus {
        outline: 0;
      }
    }
  }

  .player-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$player-height});
    .song-details {
      display: flex;
      flex-direction: column;
      padding: $gutter;
      flex: 1;
      overflow-y: scroll;
      .lyrics {
        p + * {
          margin-top: 0.1rem;
        }
        .current {
          font-weight: 800;
        }
      }
      @media screen and (min-width: 768px) {
        flex-direction: row;
        .description {
          width: 25%;
          max-width: 350px;
          margin-right: $gutter;
        }
        .lyrics {
          width: 50%;
          line-height: 1.25;
          div {
            padding-bottom: $gutter;
          }
        }
      }
    }
    .latest-release {
      position: relative;
      border-top: solid 1px var(--line);
      padding: 0.5rem $gutter 0.75rem;
      background: var(--bg);
      overflow-x: visible;
      @media screen and (min-width: 768px) {
        padding: 1rem $gutter $gutter;
      }
      ul {
        margin-left: -$gutter;
        margin-right: -$gutter;
        white-space: nowrap;
        li:first-child {
          margin-left: $gutter;
        }
        li:last-child {
          margin-right: $gutter;
        }
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }
}
