section#page-player {
  width: calc(100vw - #{$mobile-gap});
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gutter;
  position: relative;
  .logo {
    z-index: 0;
    cursor: url(../public/icons/cursor.png) 8 0, auto;
    position: absolute;
    //display: none;
    top: $gutter;
    left: $gutter;
    // top: 38px;
    // left: -7px;
    // transform: rotate(-90deg);
    img {
      height: 60px;
      position: relative;
    }
    //desktop
    @media screen and (min-width: 768px) {
      //top: 42px;
      img {
        height: 70px;
      }
    }
  }
  .song-cover {
    position: relative;
    width: 100vmin;
    animation: rotate 6s infinite linear;
    animation-play-state: paused;
  }
  .song-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }
  .song-cover::after {
    content: "";
    display: block;
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: var(--bg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  section#page-player {
    width: 100%;
    display: flex;

    .song-cover {
      height: calc(100vmin - 105px);
      width: calc(100vmin - 105px);
    }

    .title h1 {
      right: 0;
    }
  }
}
