section#page-team {
  ul.team {
    list-style-type: none;
    & > li {
      display: flex;
      flex-direction: column;
      border-top: solid 1px var(--line);
      padding-top: 0.5rem;
      margin-bottom: 0;
      .image {
        width: 200px;
        object-fit: contain;
        object-position: top;
        padding-bottom: 0.5rem;
      }
      .details {
        flex: 1;
      }
    }
  }
  @media screen and (min-width: 1113px) {
    ul.team > li {
      flex-direction: row;
      margin-bottom: 2rem;
      .image {
        padding-right: 1rem;
      }
    }
  }
}
