.pages {
  position: fixed;
  width: 100%;
  height: calc(100% - #{$player-height});
  right: 0;
  top: 0;
  left: 0;
  bottom: calc(100% - #{$player-height});
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  // scroll-snap-type: x mandatory;
}

@media screen and (min-width: 768px) {
  .pages {
    position: fixed;
    display: flex;
    width: auto;
    max-width: calc(100vw - 45px);
    right: 0;
    top: 0;
    left: auto;
    bottom: $player-height;
    padding-left: 0;
    overflow: visible;
    white-space: normal;
  }
}
@media screen and (min-width: 1024px) {
  .pages {
    max-width: 50vw;
  }
}

section.page,
div.page {
  position: sticky;
  // scroll-snap-align: start;
  // -webkit-overflow-scrolling: touch;
  left: 0;
  display: inline-flex;
  vertical-align: top;
  width: calc(100vw - #{$mobile-gap});
  height: 100%;
  padding-left: 42px;
  transition: 0.25s;
  background: var(--bg);
  box-shadow: 2rem 0 0 var(--bg);
  overflow-x: hidden;
  overflow-y: scroll;
  @media screen and (max-width: 767px) {
    &:last-child {
      width: 100vw;
    }
  }
  //head with title
  a.head {
    border-left: solid 1px var(--line);
    height: 100%;
    width: auto;
    min-width: 100px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--light);
    h1 {
      position: absolute;
      top: -10px;
      left: 7px;
      white-space: nowrap;
      transform: rotate(90deg);
      transform-origin: 0 100%;
      margin: 0;
      span {
        display: block;
        transform: rotate(180deg);
      }
    }
  }
  //content
  .content {
    width: auto;
    height: 100%;
    overflow-y: scroll;
    white-space: normal;
    padding: 15px 0 $gutter 1rem;
  }
}

.player-placeholder {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  section.page {
    display: flex;
    left: auto;
    width: auto;
    max-width: 800px;
    @media (hover: hover) {
      &:not(.open):hover {
        cursor: pointer;
        transform-origin: 0 100%;
        transform: translateX(-0.5rem);
      }
    }
    .content {
      width: 0;
      overflow: hidden;
      padding: 0;
      & > * {
        opacity: 0;
        transition: 0.5s opacity;
        transition-delay: 0.25s;
      }
    }
    &.open .content {
      width: auto;
      overflow-y: scroll;
      padding: 15px 0 $gutter 2rem;
      & > * {
        opacity: 1;
        padding: 0 $gutter 0 0;
      }
    }
  }
  .player-placeholder {
    display: none !important;
  }
}
